@font-face {
    font-family: helvetica;
    src: url("../font/Helvetica.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: helvetica;
}

/* logo and navbar */
.logo {
    display: flex;
    justify-content: center;
    width: 20%;
}

.logo img {
    width: 33%;
}

.navbar {
    display: flex;
    width: 100%;
    position: fixed;
}

.nav-list {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-list li {
    padding: 0px 25px;
    list-style: none;
}

.nav-list li a {
    color: white;
    text-decoration: none;
}

.nav-list li a:hover {
    color: rgb(190, 30, 45);
}

.rightnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    /* background-color: blueviolet; */
    text-align: right;
    width: 50%;
}

/* burger */
.burger {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
}

.line {
    width: 33px;
    height: 4px;
    background-color: white;
    margin: 3px;

}

/* bk background */
.bkground {
    background: rgba(0, 0, 0, 0.7) url("../img/bg.jpg");
    /* width: 100%; */
    /* background-position: center center; */
    background-size: cover;
    background-blend-mode: darken;
}

.contact-bkground {
    background: rgba(0, 0, 0, 0.2) url("../img/bg-contact.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

/* search-input, btn, btn-small, btn-big */
#search {
    border: none;
    /* color: brown; */
    border-radius: 2px;
    font-size: 16px;
    text-align: center;
    padding: 3px 0px;
}

.btn {
    border: none;
    color: white;
}

.btn-sm {
    border-radius: 2px;
    font-size: 16px;
    padding: 3px 20px;
    margin: 0px 15px;
    background-color: rgb(190, 30, 45);
    border: 1px solid rgb(190, 30, 45);
    cursor: pointer;
}

.btn-sm:hover, .btn-big:hover {
    background:rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(190, 30, 45);
}

.btn-big {
    border-radius: 2px;
    font-size: 20px;
    padding: 5px 30px;
    margin: 5px 0px;
    background-color: rgba(190, 30, 45, 0.9);
    border: 1px solid rgb(190, 30, 45);
    cursor: pointer;
}

/* section */
.section-1 {
    color: white;
    height: 100vh;
    width: 100%;
    /* border: 1px solid red; */
}

.box-main {
    display: flex;
    max-width: 60%;
    height: 100vh;
    align-items: center;
    margin: auto;
}

.section-2 {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: auto;
}

.img-fluid {
    border-radius: 5px;
}

.section-left {
    flex-direction: row-reverse;
}

.contact {
    height: 90vh;
    padding-top: 30vh;
}

#first_name, #second_name, #email, #m-num, #btn-submit {
    display: block;
    margin: 15px auto;
    width: 25%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

#btn-submit {
    background-color: rgb(190, 30, 45);
}

#btn-submit:hover {
    border: 1px solid rgb(190, 30, 45);
    background-color: rgba(0, 0, 0, 0.5);
}

/* form */
.form {
    width: 100%;
}

.form input {
    background-color: rgba(0, 0, 0, 0.5);
}

.form input::placeholder {
    color: white;
}

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    height: 30vh;
    background-color: #222222;
    color: white;
    font-size: 18px;
}

/* footer-left */
.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: right;
    padding-top: 15px;
    padding-left: 30px;
    width: 10%;
    height: 25vh;
    border-right: 1px solid rgb(190, 30, 45);
}

.footer-left p {
    cursor: pointer;
    text-decoration: underline rgba(190, 30, 45, 0);
}

.footer-left p:hover {
    text-decoration: underline rgba(190, 30, 45, 0.8);
    text-underline-offset: 3px;
    color: rgb(190, 30, 45);
}

/* footer-center */
.footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    color: white;
    width: 100%;
    height: 5vh;
}

/* footer-right */
.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 15vh;
    border-top: 1px solid rgb(190, 30, 45);
}

.icon {
    display: flex;
    justify-content: space-between;
    width: 70%;
    /* border: 1px solid #fff; */
}

.icon img {
    filter: invert(0.9);
}

.icon img:hover {
    cursor: pointer;
    filter: invert(0.4);
}

/* utility class */
.text-big {
    font-size: 35px;
    padding-bottom: 5px;
}

.text-small {
    padding-bottom: 5px;
}

.textjustify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.mx {
    margin: 0px 25px;
} 

.p-top {
    padding-top: 20px;
}

hr {
    border: 1px solid rgba(202, 202, 202, 0.9);
    max-width: 100%;
    margin: auto;
}
