@font-face {
    font-family: helvetica;
    src: url("../font/Helvetica.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: helvetica;
}

/* logo and navbar */
.logo {
    display: flex;
    justify-content: center;
    width: 20%;
}

.logo img {
    width: 33%;
}

.navbar {
    display: flex;
    position: fixed;
}

.nav-list {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-list li {
    padding: 0px 25px;
    list-style: none;
}

.nav-list li a {
    color: white;
    text-decoration: none;
}

.rightnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    /* background-color: blueviolet; */
    text-align: right;
    width: 50%;
}

/* bk background */
.bkground {
    background: rgba(0, 0, 0, 0.7) url("../img/bg.jpg");
    /* width: 100%; */
    /* background-position: center center; */
    background-size: cover;
    background-blend-mode: darken;
}

/* search-input, btn, btn-small, btn-big */
#search {
    border: none;
    /* color: brown; */
    border-radius: 2px;
    font-size: 16px;
    text-align: center;
    padding: 3px 0px;
}

.btn {
    border: none;
    color: white;
}

.btn-sm {
    border-radius: 2px;
    font-size: 16px;
    padding: 3px 20px;
    margin: 0px 15px;
    background-color: rgb(190, 30, 45);
    border: 1px solid rgb(190, 30, 45);
}

.btn-sm:hover {
    background:rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(190, 30, 45);
}

.btn-big {
    border-radius: 2px;
    font-size: 20px;
    padding: 5px 30px;
    background-color: rgba(190, 30, 45, 0.9);
}

/* section */
.section-1 {
    color: white;
    height: 100vh;
}

.box-main {
    display: flex;
    max-width: 60%;
    height: 100vh;
    align-items: center;
    margin: auto;
}